* {
    margin: 0px;
    padding:0; 
    box-sizing:border-box; 
 } 
 body
 {
    font-family: 'poppins', sans-serif;
 }
.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav
{
    flex: 1;
    text-align: right;
}
ul
{
    display: inline-block;
    list-style-type: none;
}
li{
    display: inline-block;
    margin-right: 20px;
}
a
{
    text-decoration: none;
    color: #555;
}
p
{
    color: #555;
}
.container
{
    max-width: 1300px;
    margin:auto;
    padding-left:25px;
    padding-right:25px;
}
.row
{
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     justify-content: space-around;
}
.col-2 
{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img
{
    max-width: 80%;
    padding: 0px 100px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.button
{
    display: inline-block;
    background: #ff523b;
    color:#fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px ;
    transition: background 0.5s;
}
.button:hover
{
 background: #563434;
}
 .header
{
  background: radial-gradient(#fff,#ffd6d6);
}
 .header .row
{ 
    margin-top: 70px;
} 
.categories
{
    margin: 70px 0;;
}
.col-3
{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img
{
   width: 100%;
}
.small-container
{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4
{
    flex-basis: 25%;
    padding: auto 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img
{
    width:95%;
}
.title
{
    text-align: center;
    margin: 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after
{
    content:'' ;
    background: #ff523b;
    width:80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom:0;
    transform: translateX(-179%);
}
h4{
    color: #555;
    font-weight: normal;
} 
.col-4 p{
     font-size:14px;
} 
.rating .star          
{
    color: #ff523b;
}
.col-4:hover
{
    transform: translateY(-5px);
}
.offer
{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #555;
}
.Testimonials
{
    padding-top: 100px;
}
 .Testimonials .col-3
{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0,1);
    cursor: pointer; 
    transition: transform(0.5s); 
}
.Testimonials .col-3 img
{
 width: 50px;
 margin-top: 20px;
 border-radius: 50%;
}
 .Testimonials .col-3:hover{
    transform: translateY(-30px);
}
.col-3 .quote
{
    font-size: 34px;
    color: #8d291c;
}
.col-3 p{
    font-size: 13px;
    margin: 12px 0;
    color: #777;
}
.Testimonials .col-3 h3{
    font-weight: 600;
    color:#555;
    font-size: 15px;
}
.brands
{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0%);
}
.footer
{
    background: #000; 
    color: #8a8a8a;
    font-size: 14px;
    padding:60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 30px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 2opx;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
.app-logo{
    margin-bottom: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr
{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.Copyright {
    text-align: center;
}
.menu-icon
{
    width: 28px;
    margin-left: 20px;
    display: none;
}
@media only screen and (max-width: 800px)
{
    nav ul{
        position:relative;
        top: 40px;
        left: 0;
        background: #333;
        width: 80%;
        transition: max-height 0.5s;  
    }
   nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
   }
    nav ul li a{
        color: #111010;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
.row-2{
    justify-content:space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}
 @media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2,.col-3,.col-4{
        flex-basis: 100%;
    }
 }
 .page-button
 {
    margin:0 auto 80px;
 }
 .page-button span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
 }
 .page-button span:hover{
    background: #ff523b;
    color: #fff;
 }
 .single-product{
    margin-top: 80px;
 }
 .single-product .col-2 img{
    padding:0;
 }
 .single-product .col-2 img{
    padding: 20px;
 }
 .single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
 }
 .single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
 }
 .single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
 }
 input:focus{
    outline: none;
 }
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
    width: 100%;
}
.single-product .row{
    text-align:left;
}
.single-product .col-2{
    padding: 20px 0;
}
.single-product h1{
    font-size: 25px;
    line-height: 40px;
}
.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
 .cart_info
{
    display: flex;
    flex-wrap: wrap;
} 
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
   width: 40px;
   height: 30px;
   padding: 5px;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
td image{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price
{
    display: flex;
    justify-content: flex-end;
}
  .total-price table{
    border-top:3px solid #ff523b;
    width: 100%;
    max-width: 500px;
  }
  td:last-child{
    text-align: right;
  }
  th:last-child{
    text-align: right;
  }
  .cart-info p{
    display: none;
  }
  .Account-page{
    padding: 50px 0;
    background: radial-gradient(#fff,#ffd6d6);
  }
  .form-container{
  background: #fff;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(o,o,o,o.1);
  }
  .form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
  }
  .form-button{
    display: inline-block;
  }
  .form-container form{
    max-width: 300px;
    padding: 0 20px;
    top: 130px;
  }
  form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
  }
  form .button
  {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
  }
  form .btn:focus{
    outline: none;
  }
 